<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftUI-Weather.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0C1FC0D2C746EA800635BDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0C1FC1D2C746EA900635BDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0C1FC272C746EA900635BDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
